.chess-board {
  margin: auto;
  width: 480px;
  height: 480px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.rotated {
  transform: rotate(180deg);
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: white;
}

.game-over-message {
  color: white;
}

.promotion-dialog {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotion-dialog img {
  height: 70px;
  cursor: pointer;
}

.close-promotion-dialog {
  font-size: 45px;
  color: white;
  cursor: pointer;
}

.dark {
  background-color: #779aaf;
}

.light {
  background-color: #d9e4e8;
}

.piece {
  width: 50px;
}

.selected-square {
  box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px,
    inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.safe-square {
  height: 20px;
  width: 20px;
  z-index: 100;
  position: absolute;
  border-radius: 50%;
  background-color: #bbb;
}

.king-in-check {
  box-shadow: 
    inset rgb(179, 21, 0) 0px 0px 40px 0px,
    inset rgb(163, 11, 0) 0px 0px 40px 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.last-move {
  box-shadow: 
    inset rgb(6, 179, 0) 0px 0px 40px 0px,
    inset rgb(6, 179, 0) 0px 0px 40px 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.promotion-square {
  box-shadow: 
    inset rgb(0, 98, 150) 0px 0px 40px 0px,
    inset rgb(0, 98, 150) 0px 0px 40px 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}
